<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>JStorm LogViewer</display-name>
 <context-param>
  <param-name>debug</param-name>
  <param-value>false</param-value>
 </context-param>
 <session-config>
  <!-- 10 minutes -->
  <session-timeout>10</session-timeout>
 </session-config>
 <servlet>
  <display-name>log</display-name>
  <servlet-name>log</servlet-name>
  <servlet-class>com.tencent.jstorm.daemon.logviewer.api.LogRoutesServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>log</servlet-name>
  <url-pattern>/log</url-pattern>
 </servlet-mapping>
 <servlet>
  <display-name>daemonlog</display-name>
  <servlet-name>daemonlog</servlet-name>
  <servlet-class>com.tencent.jstorm.daemon.logviewer.api.DaemonLogServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>daemonlog</servlet-name>
  <url-pattern>/daemonlog</url-pattern>
 </servlet-mapping>
 <servlet>
  <display-name>dumps</display-name>
  <servlet-name>dumps</servlet-name>
  <servlet-class>com.tencent.jstorm.daemon.logviewer.api.DumpsServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>dumps</servlet-name>
  <url-pattern>/dumps</url-pattern>
 </servlet-mapping>
 <servlet>
  <display-name>download</display-name>
  <servlet-name>download</servlet-name>
  <servlet-class>com.tencent.jstorm.daemon.logviewer.api.DownloadServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>download</servlet-name>
  <url-pattern>/download</url-pattern>
 </servlet-mapping>
 <servlet>
  <display-name>daemondownload</display-name>
  <servlet-name>daemondownload</servlet-name>
  <servlet-class>com.tencent.jstorm.daemon.logviewer.api.DaemonDownloadServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>daemondownload</servlet-name>
  <url-pattern>/daemondownload</url-pattern>
 </servlet-mapping>
 <servlet>
  <display-name>search</display-name>
  <servlet-name>search</servlet-name>
  <servlet-class>com.tencent.jstorm.daemon.logviewer.api.SearchServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>search</servlet-name>
  <url-pattern>/search</url-pattern>
 </servlet-mapping>
 <servlet>
  <display-name>deepSearch</display-name>
  <servlet-name>deepSearch</servlet-name>
  <servlet-class>com.tencent.jstorm.daemon.logviewer.api.DeepSearchServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>deepSearch</servlet-name>
  <url-pattern>/deepSearch</url-pattern>
 </servlet-mapping>
 <servlet>
  <display-name>searchLogs</display-name>
  <servlet-name>searchLogs</servlet-name>
  <servlet-class>com.tencent.jstorm.daemon.logviewer.api.SearchLogsServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>searchLogs</servlet-name>
  <url-pattern>/searchLogs</url-pattern>
 </servlet-mapping>
 <servlet>
  <display-name>listLogs</display-name>
  <servlet-name>listLogs</servlet-name>
  <servlet-class>com.tencent.jstorm.daemon.logviewer.api.ListLogsServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>listLogs</servlet-name>
  <url-pattern>/listLogs</url-pattern>
 </servlet-mapping>
</web-app>